<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Productos</title>
    </head>
    <body>
        <h1>Listado de Productos</h1>
        {% for p in productos %}
            {% if p.imagen1 %}
                <img src="{{ p.imagen1.url }}" width="200">
            {% endif %}

            <p>
                <a href="/productos/{{ p.id }}/">
                    {{ p.nombre }} - ${{ p.precio_base }}
                </a>
            </p>

            <hr>

        {% endfor %}
    </body>
</html>