# Cree un gitignore para evitar que se suban archivos al git que no corresponden
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.sqlite3

# Virtual environment
venv/
env/
.venv/

# VS Code
.vscode/

# macOS
.DS_Store